.bg-dark {
  background-color: rgb(61, 61, 57);
  width: 98vw;
  height: 100%;
}

.bg-blue {
  background-color: cadetblue;
}

.text-white {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  height: 100%;
  margin:10vh 0;
}

.card {
  width: 400px;
  min-height: 600px;
  border-radius: 10px;
}

form {
  margin: 20px;
}

.input {
  width: 235px;
  height: 30px;
  background-color: aquamarine;
}

.submit {
  width: 120px;
  height: 30px;
  background-color: aquamarine;
}

.current-temp {
  font-size: 48px;
  margin-top: 50px;
  text-align: center;
}