.bg-dark {
  background-color: rgb(61, 61, 57);
  width: 98vw;
  height: 100%;
}

.bg-blue {
  background-color: cadetblue;
}

.error {
  color: rgb(209, 128, 104);
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  height: 100%;
  margin: 9vh 0;
}

.card {
  width: 400px;
  min-height: 600px;
  border-radius: 10px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.input {
  width: 230px;
  height: 30px;
  background-color: aquamarine;
  margin-right: 10px;
  padding-left: 5px;
}

.submit {
  width: 120px;
  height: 30px;
  background-color: aquamarine;
}

.weather-parameters-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.temperature {
  font-size: 48px;
  margin-top: 20px;
  text-align: center;
}

.wind {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-top: 20px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}